<div class="container g-container">
    <div class="row g-form">
        <%= form_with url: "/road/#{@user.id}/update" do |form| %>
            <% @road.errors.full_messages.each do |message| %>   
                <%= message %>
            <% end %>
            <h1>目標を編集する</h1>
            <div class="g-input">
                <%= form.text_field :goal, :class =>"g-input",:value =>@road.goal %>
                <%= form.submit :class =>"g-btn btn-primary", :value =>"編集する"  %>
            </div>
        <% end %>
    </div>
</div>