<div class="about-container">
    <div class="container">
        <div class="row">
            <h1 class="about-head"><span>ShareRoadMap</span> とは？</h1>
            <h2 class="about-title">学習ロードマップ共有アプリです！</h2>
            <div class="about-left">
                <p class="about-text">ところで、日々の学習のゴールは明確に決めていますか？？ <br> 自分はプログラミングを始めたころ、取り敢えず稼げるようになれればいいかな…そんな曖昧な状況で始めました。
                <br>ですが、いつまで経っても同じ学習を繰り返したり全然成長する事ができませんでした…</p>
                <p class="about-text">学習の仕方を振り返っていく中で、「明確な目標」と「その目標に必要な学習をしっかり計画している」ことが重要なのだと思いました。
                今では何故闇雲に勉強していたのだと反省しています…</p>
            </div>
            <div class="about-right">
                <p class="about-text">プログラミングはあくまで、何かを作るための「ツール」でしかなく、大切なのは、「何を作りたいか」、「作れるようになりたいか」だと思います。</p>
                <p class="about-text">そこで目標を設定し、学習内容を明確にできるアプリが必要だと思ったのがShareRoadMapを作成するきっかけになります。</p>
                <p class="about-text">ですが、いきなり何を学習すればいいのか分からないという意見も多いかと思います。自分もその1人でした…</p>
                <p class="about-text">そこでこのサービスでは、他の方のロードマップを見ることができるようになっています。</p>
                <p class="about-text">同じ目標を掲げている方のロードマップを参考にしつつ、目標に対しての<br> 「正しい学習」ができるようにしたいと考えシェアできるようにしたのが<span>ShareRoadMap</span> になります！</p>
                <p class="about-text-last">このサービスを通じて、少しでも皆さんの成功に協力できれば幸いです。</p>
            </div>
        </div>
    </div>
</div>
