<div class="container u-container">
    <div class="row">
        <% @users.each do |user| %>
            <div class="u-content">
                <div class="u-content-left">
                    <img src="<%= "/image/#{user.image_icon}" %>" class="u-image" alt="アイコン画像">
                </div>
                <div class="u-content-right">
                    <%= link_to( user.name , "user/#{user.id}", {class: "u-name"}) %>
                </div>
            </div>
        <% end %>
    </div>
</div>