<div class="container u-container">
    <div class="row u-contents">
        <% @users.each do |user| %>
            <div class="u-content">
                <div class="u-content-left">
                    <img src="<%= user.image_icon %>" class="u-image" alt="アイコン">
                </div>
                <div class="u-content-right">
                    <%= link_to( user.name ,user_path(user), {class: "u-name"}) %>
                    <% if user.goal %>
                        <%= link_to(  "目標：#{user.goal}" , user_path(user), {class: "u-goal"}) %>
                    <% else %>
                        <%= link_to( "目標はまだ決めていません！" , user_path(user), {class: "u-goal"}) %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>