<div class="container road-container">
    <div class="row">
        <%= render partial: 'goal'%>
        <% if @studies.empty? %>
            <div class="n-studies">
                <h3 class="n-studies-title">ロードマップは未作成です</h3>
                <% if @current_user== @user%>
                    <%= link_to( "作成する！",new_study_path,class:"user-edit-btn btn btn-primary r-btn" ) %>
                <% end %>
            </div>
        <% else %>
        <%= render partial:'study/study_index'%>
        <% end %>
    </div>
</div>
