<div class="container">
  <div class="row user-show">
    <div class="col-md-6 ">
      <%= render partial: 'goal'%>
      <%= link_to("ロードマップをみる","/user/road/#{@user.id}",class:"user-edit-btn btn btn-primary") %>
    </div>
    <div class="col-md-6">
      <div class="user-content">
        <%= render partial: 'user_prof' %>
      </div>
    </div>
  </div>
</div>
