<div class="container">
  <div class="row user-show">
    <div class="col-md-4">
     <div class="card" style="width: 18rem;">
      <img src="<%= "/#{@user.image_icon}" %>" class="card-img-top" alt="ユーザーのアイコン画像">
      <div class="card-body">
       <h5 class="card-title"><%= @user.name %></h5>
       <button href="#" class="btn btn-primary">編集する</button>
      </div>
    </div>
    </div>
    <div class="col-md-8 show-text">
      <h2>ロードマップを作成しよう！！</h2>
      <button href="#" class="btn btn-primary">作成する</button>
    </div>
  </div>
</div>