// Place all the styles related to the Comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment-area {
    width: 100%;
    height: 200px;
}
.comment-title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
