// Place all the styles related to the Comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* 共通レイアウト ================================ */
$b-shadow: rgba(0,0,0,0.4);
$r-shadow:rgb(104, 21, 18);
$r-shadow-border:rgba(104, 21, 18,0.1);


/* レスポンシブ ================================ */
$pc: 1024px; // PC
$tab: 767px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

/* comment-new ================================ */
.comment-area {
    width: 100%;
    height: 200px;
}
.comment-title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

/* comment-index ================================ */
.comment-index-title {
    width: 100%;
    margin-top: 60px;
}
