// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fa-thumbs-up {
    font-size: 28px;
}
.like_btn {
    color: #000;
}
.liked {
    color: rgb(224, 36, 94);
}
