// Place all the styles related to the Road controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* 共通レイアウト ================================ */
$b-shadow: rgba(0,0,0,0.4);
$r-shadow:rgb(104, 21, 18);
$r-shadow-border:rgba(104, 21, 18,0.1);

/* Road_show_Page ================================ */
.road-container { 
    margin-top: 50px;
}
.g-title {
    width: 100%;
    text-align: center;
}
.g-text {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.n-studies {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    &-title {
        padding-bottom: 40px;
    }
}
/* Road_new_Page ================================ */
.g-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.g-form {
    border: 5px double $r-shadow;
    padding: 50px  120px 80px;
    h1 {
        font-size: 28px;
        padding-bottom: 80px;
        font-weight: bold;
    }
}
.g-input {
    width: 100%;
    margin-bottom: 50px;
}
.g-btn {
    float: right;
}