// Place all the styles related to the Road controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Road_show_Page ================================ */
.road-container { 
    margin-top: 80px;
}
.g-head {
    margin-top: 80px;
}
.g-text {
    margin: 30px 0;
}
.not-r {
    margin-top: 150px;
}

.r-btn {
    margin-top: 80px;
}