// Place all the styles related to the Road controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Road_show_Page ================================ */
.road-container { 
    margin-top: 80px;
}
.g-head {
    margin-top: 80px;
}
.g-text {
    margin: 30px 0;
}
.not-r {
    margin-top: 150px;
}

.r-btn {
    margin-top: 80px;
}

/* Road_new_Page ================================ */
.g-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.g-form {
    border: 7px double #000;
    padding: 50px  120px 80px;
    h1 {
        padding-bottom: 80px;
    }
}
.g-input {
    width: 100%;
    margin-bottom: 50px;
}
.g-btn {
    float: right;
}