// Place all the styles related to the Study controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* 共通レイアウト ================================ */
$b-shadow: rgba(0,0,0,0.4);
$r-shadow:rgb(104, 21, 18);
$r-shadow-border:rgba(104, 21, 18,0.1);



/* Road_show_Page ================================ */
.road-container { 
    margin-top: 50px;
    max-width: 1200px;
  }
  .g-title {
    width: 100%;
    text-align: center;
    color: $r-shadow;
    margin-top: 20px;
  }
  .g-text {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  .n-studies {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    &-title {
        padding-bottom: 40px;
    }
}
.add-study-btn {
    text-align: center;
}
.study-edit-btns {
    display: flex;
    padding-top: 10px;
    .study-edit-btn {
        margin: 0;
        margin-right: 5px;
    }
}

/* StudyCreateForm ================================ */
.f-studies {
    width: 100%;
}
.f-study {
    text-align: center;
    border: 3px double $r-shadow;
    width: 70%;
    margin: 100px auto 0 auto;
    padding: 30px 50px;
    .label-study {
        display: block;
    }
}
input[type="text"] {
    width: 100%;
}
input[type="date"] {
    width: 100%;
}
.label-study {
    font-size: 18px;
    text-align: left;
}
.study-btn {
    width: 20%;
}

/* StudyCreateForm ================================ */
.studies {
    width: 100%;
}
.study-title {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.study-contents {
    border: 1px double $r-shadow;
    border-radius: 20px;
    padding: 5px 30px 20px 30px;
    margin: 10px;
    width: 100%;
}
.study-content{
    width: 100%;
    .study-text {
        font-size: 15px;
    }
    .study-numbers {
        text-align: center;
        margin-bottom: 10px;
    }
    .study-num {
        border: 1px solid $r-shadow;
        display: inline;
        width: 30px;
        padding: 8px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 14px;
    }
    .study-edit-btn {
        display: block;
        width: 30%;
        font-size: 10px;
        border: 1px solid $r-shadow;
    }
}
/* StudyEditPage ================================ */
.study-edit-btn {
    text-align: center;
    .edit-btn {
        width: 20%;
        margin-top: 10px;
    }
}