// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Bootstrap読み込み
@import "bootstrap";


/* reset ================================ */
body {
 font-family: serif;
 line-height: 1.7;
 letter-spacing: 1px;
}
ul, li {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
 margin: 0;
}
a {
 color: #fff;
}



/* 共通レイアウト ================================ */
$b-shadow: rgba(0,0,0,0.4);


/* header ================================ */
.header { 
 display: flex;
 justify-content: space-between;
 color: #fff;
 padding: 5px 10px;
 background-color: $b-shadow;
 .logo {
  font-size: 24px;
  margin-bottom: 0;
  padding-top: 5px;
 }
 .nav-item {
  padding: 5px 10px 0 0;
 }
}

/* Flash ================================ */
.alert {
 text-align: center;
 color: #fff;
 background-color: rgb(247, 86, 86);
 font-size: 16px;
 line-height: 5px;
}
.success {
 text-align: center;
 color: #fff;
 background-color: skyblue;
 font-size: 16px;
}

/* SignupPage ================================ */
.jumbotron { 
 background:url(/matt-duncan-IUY_3DvM__w-unsplash.jpg)center no-repeat; background-size: cover;
 height: 100vh;
 width: 100vw;
 padding: 0;
 position: absolute;
 top: 0;
 z-index: -1;
}
.fv-content {
 color: #fff;
 padding-top: 200px;
}
.text-left {
 p {
  font-size: 20px;
 }
}

// SignupForm
.form-text { 
 border: 1px solid #fff;
 padding: 10px 30px;
 background-color: $b-shadow;
 color: #fff;
}
.btn-primary {
 background-color: #fff;
 color: #000;
 border: 1px solid #000;
 display: block;
 margin: 0 0 0 auto;
}

/* User_Show_Page ================================ */
.user-show {
 align-items: center;
 text-align: center;
 height: 80vh;
}


/* User_Edit_Page ================================ */
 .user-edit-btn {
  color: #000;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: right;
  display: inline-block;
 }
 .user-edit-form {
  max-width: 400px;
  margin-top: 150px;
  input {
   min-width: 100px;
  }

  .form-group {
   margin-bottom: 20px;
  }
}