// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Bootstrap読み込み
@import "bootstrap";

/* 共通レイアウト ================================ */
$b-shadow: rgba(0,0,0,0.4);
$r-shadow:rgb(104, 21, 18);
$r-shadow-border:rgba(104, 21, 18,0.1);

/* reset ================================ */
body {
  font-family: serif;
  line-height: 1.7;
  letter-spacing: 1px;
  background-color: #fff;
}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin:  0;
}
a {
  color: #fff;
  font-weight: bold;
  &:hover {
    color: $r-shadow;
  }
}
.btn-primary:hover {
  background-color: $r-shadow;
  color: #fff;
}

/* レスポンシブ ================================ */
$pc: 1024px; // PC
$tab: 767px; // タブレット
$sp: 575px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}



/* header ================================ */
header {
  position:fixed;
  top:0;
  width:100%;
  z-index:500;
}
.logout-hd {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 5px 10px;
  background-color: $b-shadow;
  a:hover {
    color: #fff;
  }
}
.login-hd {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $r-shadow;
  padding: 5px 10px;
  border-bottom: 2px solid $r-shadow;
  background-color: #fff;
  .logo {
    color: $r-shadow;
  }
  .nav-text {
    color: $r-shadow;
  }
}
.logo {
  font-size: 24px;
  margin-bottom: 0;
  padding-top: 5px;
  @include tab {
    font-size: 13px;
  }
  @include sp {
    font-size: 11px;
  }
}
.nav-item {
  padding: 5px 10px 0 0;
  @include tab {
    font-size: 12px;
  }
  @include sp {
    font-size: 8px;
    padding-right: 5px;
  }
}
/* Flash ================================ */
.alert {
  text-align: center;
  color: #fff;
  background-color: rgb(247, 86, 86);
  font-size: 16px;
  line-height: 5px;
  margin-top: 55px;
}
.success {
  text-align: center;
  color: #fff;
  background-color: skyblue;
  font-size: 16px;
  margin-top: 55px;
}

/* About Page ================================ */
.about-container {
  background: linear-gradient(#e66465, #9198e5);
  color: #fff;
}
.about-head {
  margin-top: 150px;
  width: 100%;
  font-weight: bold;
  span {
    color: $r-shadow;
  }
}

.about-title {
  font-weight: bold;
  padding: 30px 0;
}
.about-text {
  padding: 30px 0;
  font-size: 20px;
  &-last {
    padding: 80px 0;
    font-size: 20px;
  }

}
.about-left {
  max-width: 700px;
  margin: 0 auto 150px 0;
}
.about-right {
  max-width: 700px;
  margin: 0 0 0 auto;
}

/* SignupPage ================================ */
.jumbotron {
  background:url(/matt-duncan-IUY_3DvM__w-unsplash.jpg)center no-repeat; background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
.fv-content {
  color: #fff;
  padding-top: 200px;
  @include tab {
    padding-top: 170px;
  }
  @include sp {
    padding-top: 100px;
  }
}
.text-left {
  h2 {
    padding-bottom: 100px;
    font-weight: bold;
    @include tab {
      padding-bottom: 30px;
      font-size: 30px;
    }
    @include sp {
      padding-bottom: 10px;
      font-size: 20px;
      color: #000;
    }
  }
  p {
    font-size: 22px;
    @include tab {
      font-size: 18px;
    }
    @include sp {
      font-size: 14px;
      color: #000;
    }
  }
}

// SignupForm
.form-text {
 border: 1px solid #fff;
 padding: 10px 30px;
 background-color: $b-shadow;
 color: #fff;
 @include tab {
   max-width: 450px;
 }
}
.btn-primary {
 background-color: #fff;
 color: #000;
 border: 1px solid #000;
 display: block;
 margin: 0 0 0 auto;
}

/* User_Show_Page ================================ */
.user-show {
 align-items: center;
 text-align: center;
 height: 80vh;
 display: flex;
 justify-content: center;
 @include sp {
  .user-edit-btn {
    width: 150px;
    font-size: 10px;
    text-align: center;
   }
 }
}
@include sp {
  .g-title {
    margin-top: 40px;
    font-size: 20px;
  }
  .g-text {
    font-size: 20px;
  }
}

.user-content {
  margin-top: 40px;
  border: 3px double $r-shadow;
  padding: 10px 0px 70px 0px;
}
.user-name {
  padding: 30px 0;
}
.img-icon {
  width: 250px;
    border-radius: 50%;
    height: 250px;
    object-fit: cover;
    @include sp {
      width: 150px;
      height: 150px;
    }
}


/* User_Edit_Page ================================ */
 .user-edit-btn {
  color: #000;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: right;
  display: inline-block;
 }
 .user-edit-form {
  max-width: 400px;
  margin-top: 150px;
  input {
   min-width: 100px;
  }

  .form-group {
   margin-bottom: 20px;
  }
}
/* User_indext_Page ================================ */
.search-form {
  position: fixed;
  margin-top: 100px;
  @include sp {
    margin-top: 38px;
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid $r-shadow;
  }
}
.search-field {
  text-align: center;
}
.user-index {
  @include sp {
    display: flex;
    flex-direction: column-reverse;
  }
}
.u-contents {
  border-left: 1px solid $r-shadow-border;
  border-right: 1px solid $r-shadow-border;
  margin-top: 60px;
  max-width: 750px;
  @include sp {
    margin-top: 100px;
  }
}
.u-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.u-content {
  display: flex;
  width: 100%;
  margin: 5px;
  border-bottom: 2px double $r-shadow-border;
  padding: 30px 10px;
  &-right {
    display: block;
  }
  .u-name,.u-goal {
    font-size: 20px;
    display: block;
    color: #000;
    @include sp {
      font-size: 12px;
    }
  }
}

