// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Bootstrap読み込み
@import "bootstrap";

/* 共通レイアウト ================================ */
$b-shadow: rgba(0,0,0,0.4);
$r-shadow:rgb(104, 21, 18);
$r-shadow-border:rgba(104, 21, 18,0.1);

/* reset ================================ */
body {
  font-family: serif;
  line-height: 1.7;
  letter-spacing: 1px;
  background-color: #fff;
}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin:  0; 
}
a {
  color: #fff;
  font-weight: bold;
  &:hover {
    color: $r-shadow;
  }
}
.btn-primary:hover {
  background-color: $r-shadow;
  color: #fff;
}

/* レスポンシブ ================================ */
$pc: 1024px; // PC
$tab: 767px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}



/* header ================================ */
.logout-hd { 
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 5px 10px;
  background-color: $b-shadow;
  a:hover {
    color: #fff;
  }
}
.login-hd {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $r-shadow;
  padding: 5px 10px;
  border-bottom: 2px solid $r-shadow;
  .nav-text {
    color: $r-shadow;
  }
}
.logo {
  font-size: 24px;
  margin-bottom: 0;
  padding-top: 5px;
}
.nav-item {
  padding: 5px 10px 0 0;
}
/* Flash ================================ */
.alert {
  text-align: center;
  color: #fff;
  background-color: rgb(247, 86, 86);
  font-size: 16px;
  line-height: 5px;
}
.success {
  text-align: center;
  color: #fff;
  background-color: skyblue;
  font-size: 16px;
}

/* SignupPage ================================ */
.jumbotron { 
  background:url(/matt-duncan-IUY_3DvM__w-unsplash.jpg)center no-repeat; background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
.fv-content {
  color: #fff;
  padding-top: 200px;
  @include tab {
    padding-top: 170px;
  }
}
.text-left {
  h2 {
    padding-bottom: 100px;
    font-weight: bold;
    @include tab {
      padding-bottom: 30px;
    }
  }
  p {
    font-size: 22px;
    @include tab {
      font-size: 20px;
    }
  }
}

// SignupForm
.form-text { 
 border: 1px solid #fff;
 padding: 10px 30px;
 background-color: $b-shadow;
 color: #fff;
}
.btn-primary {
 background-color: #fff;
 color: #000;
 border: 1px solid #000;
 display: block;
 margin: 0 0 0 auto;
}

/* User_Show_Page ================================ */
.user-show {
 align-items: center;
 text-align: center;
 height: 80vh;
 display: flex;
 justify-content: center;
}
.user-content {
  margin-top: 40px; 
  border: 3px double $r-shadow;
  padding: 10px 0px 70px 0px;
}
.user-name {
  padding: 30px 0;
}
.img-icon {
  width: 250px;
    border-radius: 50%;
    height: 250px;
}


/* User_Edit_Page ================================ */
 .user-edit-btn {
  color: #000;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: right;
  display: inline-block;
 }
 .user-edit-form {
  max-width: 400px;
  margin-top: 150px;
  input {
   min-width: 100px;
  }

  .form-group {
   margin-bottom: 20px;
  }
}
/* User_indext_Page ================================ */
.u-container { 
  max-width: 600px;
}
.u-contents {
  border-left: 1px solid $r-shadow-border;
  border-right: 1px solid $r-shadow-border;
}
.u-image {
  height: 60px;
  border-radius: 30%;
  margin-right: 10px;
}
.u-content {
  display: flex;
  width: 100%;
  margin: 5px;
  border-bottom: 2px double $r-shadow-border;
  padding: 5px 10px;
  &-left {
    width: 15%;
  }
  &-right {
    display: block;
  }
  .u-name,.u-goal {
    display: block;
    color: #000;
  }
}

